<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenarray | Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="images/Logo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/foot.css">
    <!--fontstyle-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!--icons-->
    <script src="https://kit.fontawesome.com/0443c57efb.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="images">
            <img src="images/loginbg.png" height="100%" width="100%">
        </div>


        <div class="contain2">
            <div class="details">
                <form style="border:1px solid #ccc" action="/search" method="POST">
                    <div class="container1">
                        <h1>Additional details</h1>
                        <p>Fill the form to find the ideal plant for yourself!</p>
                        <hr>

                        <label for="location"><b>Choose water availability:</b></label>
                        <select id="location" name="water">
                            <option></option>
                            <option value="Wet">Wet</option>
                            <option value="Moist">Moist</option>
                            <option value="Semi-Moist">Semi moist</option>
                            <option value="dry">dry</option>
                        </select><br><br>

                        <label for="soil"><b>Choose your soil type:</b></label>
                        <select class="box" name="soil">
                            <option></option>
                            <option value="Well drained">Well drained</option>
                            <option value="Loamy">Loamy</option>
                            <option value="Sand">Sand</option>
                            <option value="Dry loam">Dry loam</option>
                        </select><br><br>

                        <label for="rooftop"><b>Choose your preferance:</b></label>
                        <select class="box">
                            <option></option>
                            <option value="rooftop">Rooftop</option>
                            <option value="indoors">Indoors</option>
                        </select><br><br>


                        <label for="Sunlight"><b>Sunlight:</b></label>
                        <select class="box" name="sunlight">
                            <option></option>
                            <option value="Full sun">Full sun</option>
                            <option value="Partial shade">Partial shade</option>
                        </select><br><br>

                        <div class="clearfix">
                            <button type="submit" class="submitbtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="name">
                HELLO,
                <%= activeUser.username %> ! :)
            </div>
        </div>

        <% for (i in plantData) { %>
            <% if (i==0) { %>
                <div class="components" style="top: 560px; right:30px;">
                    <% } else if (i==1) { %>
                        <div class="components" style="top: 650px; right:380px;">
                            <% } else if (i==2) { %>
                                <div class="components" style="top: 740px; right:730px;">
                                    <% } else if (i==3) { %>
                                        <div class="components" style="top: 830px; right:1080px;">
                                            <% } %>
                                                <div class="plantimg">
                                                    <img src="<%= plantData[i].image %>" height="200px" width="200px">
                                                </div>
                                                <div class="elements">
                                                    <div class="name1 element">Name:
                                                        <%= plantData[i].name %>
                                                    </div>
                                                    <div class="species element">Species:
                                                        <%= plantData[i].species %>
                                                    </div>
                                                    <div class="climate element">Climate:
                                                        <% for (x in plantData[i].climate ) { %>
                                                            <%= plantData[i].climate[x] %>
                                                                <% } %>
                                                    </div>
                                                    <div class="soil element">Soil:
                                                        <%= plantData[i].soil %>
                                                    </div>
                                                    <div class="water element">Water:
                                                        <%= plantData[i].water %>
                                                    </div>
                                                    <div class="sunlight element">Sunlight:
                                                        <% for (x in plantData[i].sunlight ) { %>
                                                            <%= plantData[i].sunlight[x] %>
                                                                <% } %>
                                                    </div>
                                                    <div class="potbed element">Potted/Bed:
                                                        <%= plantData[i].pottedBeds %>
                                                    </div>
                                                    <div class="article element">Article:
                                                        <a href="<%= plantData[i].article %>">Link</a>
                                                    </div>
                                                    <div class="moreelement">
                                                        <form class="action" action="/search/<%= plantData[i]._id %>" method="POST">
                                                            <button>More</button>
                                                        </form>
                                                    </div>
                                                </div>
                                        </div>
                                        <% if (i==3) break; %>
                                            <% } %>

                                                <div>
                                                    <%- include('./partials/foot') %>
                                                </div>

                                </div>

</body>

</html>